html{
    font-size: 18px;
}

body{
    background-color: gray;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
}

ul{
    list-style-type: none;
    padding: 10px;
}

li{
    display: inline;
}